@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family:'Raleway', Helvetica, sans-serif;
    box-sizing: border-box;
}

/*HEADER*/

header{
    background-color: #2A2F4F;
    color: white;
}

.nav-bar{
    color: #E5E7EB;
    font-size: 18px;
    padding-top: 10px;
    padding-left: 160px;
    padding-right:160px;
    /*FLEX*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar nav{
    display: flex;
    gap: 20px;    
}

.nav-bar nav a{
text-decoration: none;
color: white;
padding: 5px;
}

.nav-bar nav a:hover{
    color: #917FB3;
}

header .logo{
    font-size: 20px;
    font-weight: bold;
    color: #F9FAF8;

}

.hero-banner{
    padding: 80px;
    height: 500px;
    /*FLEX*/
    display: flex;
    justify-content: center;
    align-items: center;
    gap:40px;
}

.hero-banner .left-hero{
    width: 500px;
    /*FLEX*/
    display: flex;
    flex-direction: column;
}

.hero-banner .left-hero h1{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 15px;
    line-height: 0.9; 
}

.left-hero h1 span{
    color: #E5BEEC;
}


.hero-banner .left-hero p{
    text-align: left;
    font-size: 18px;
    font-weight: 300;
    color: #E5E7EB;
    margin-bottom: 20px;
    width: 400px;
}

.hero-banner .left-hero .header-button{
    border: none;
    background-color: #917FB3;
    color: #E5E7EB;
    height: 40px;
    width: 160px;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.5s ease-in-out;
    /*FLEX*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-banner .left-hero .header-button:hover{
    background-color:  #4b405e;
}

.hero-banner .image{
    background-image: url(header.jpg);
    background-position: center center;
    background-size: cover;
    color: #dcdddf;
    width: 500px;
    height: 250px;
    font-size: 18px;
    /*FLEX*/
    display:flex;
    justify-content: center;
    align-items: center;
}

.image span{
    visibility: hidden;
}

/*INFORMATION SECTION*/

section .info{ 
    margin-bottom: 30px;
    padding: 50px;
}

section .info h2{
    font-size: 36px;
    font-weight: 650;
    color: #2A2F4F;
    text-align: center;
    margin-bottom: 30px;
}

.widget-container{
    padding: 20px;
    width: 900px;
    margin: 0 auto;  
    /*FLEX*/
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap:25px;
}

.widget{
    width: 160px;
    /*FLEX*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

.widget p{
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    color: rgb(88, 88, 88);
}

.widget-image{
    border: 4px solid #917FB3;
    border-radius: 10px;
    height: 160px;
    width: 160px;
    margin-bottom: 10px;
    transition: opacity 0.5s ease-in-out;
}

.widget-image:hover {
  opacity: 0.5;
}

.widget.one .widget-image{
    background-image: url('responsive.jpg');
    background-position: center center;
    background-size: cover;
}

.widget.two .widget-image{
    background-image: url('database.jpg');
    background-position: center center;
    background-size: cover;
}

.widget.three .widget-image{
    background-image: url('interface-design.jpg');
    background-position: center center;
    background-size: cover;
}

.widget.four .widget-image{
    background-image: url('server.jpg');
    background-position: center center;
    background-size: cover;
}



/* QUOTE SECTION */

section .quote{
    background: #E5E7EB;
    padding: 30px;
}

.quote-container{
    padding: 0;
    width: 900px;
    height: 300px;
    margin: auto;
    /* FLEX */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

.quote-container p{
    font-size: 36px;
    font-style: italic;
    color: #2A2F4F;
    margin-bottom: 20px;
}

.quote-container span{
    font-weight: 700;
    font-size: 24px;
    color: #2A2F4F;
    display: flex;
    align-self: flex-end;
}

.CTA {
    padding: 50px;
    /*FLEX*/
    display: flex;
    justify-items: center;
}

.cta-container{
    background-color: #917FB3;
    border-radius: 10px;
    width: 1000px;
    height: 150px;;
    margin: auto;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-right:90px;
    padding-left:90px;
    /*FLEX*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cta-container .cta-text{
    color: #E5E7EB;
    font-weight: 400;
    font-size: 18px;
}

.cta-container .cta-text h3{
    font-size: 24px;
    margin-bottom: 5px;
    font-weight: 700;
}

.cta-container .cta-button{
    background-color: transparent;
    color: #E5E7EB;
    font-weight: 700;
    font-size: 16px;
    border: 2px solid #E5E7EB;
    width: 120px;
    height: 35px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
}

.cta-container .cta-button:hover{
    background-color: #E5E7EB;
    color: #917FB3;
    border: none;
}

/*FOOTER*/

footer{
background-color: #2A2F4F;
height: 100px;
color: white;
font-weight: 500;
/*FLEX*/
display: flex;
justify-content: center;
align-items: center;

}